zeerafle-typesense.duckdns.org {
    reverse_proxy typesense:8108
}

zeerafle-trek.duckdns.org {
    reverse_proxy trek:3000
}

zeerafle-chat.duckdns.org {
    reverse_proxy api:3080
}

zeerafle-budget.duckdns.org {
    reverse_proxy actual:5006
}

zeerafle-tavern.duckdns.org {
    reverse_proxy sillytavern:8000
}
